<app-navbar></app-navbar>
<div class="uk-container uk-container-xlarge contact-container uk-padding-large">
  <p class="contact-header">Hello! Tell us about your project</p>
  <p class="contact-subheader uk-align-center">Give us a call or drop by anytime, we endeavour to answer all enquiries
    within 24 hours on business days. We
    will be happy to answer your questions.</p>
</div>
<div class="uk-container uk-container-medium uk-padding-remove uk-card contactus-grid">
  <div class="uk-text-center uk-grid-small uk-grid-match" uk-grid>
    <div class="uk-width-1-3@m">
      <div class="uk-card contactinfo-grid uk-card-body uk-text-left">
        <p class="contactinfo-title uk-heading-bullet">
          reach us
        </p>
        <p>
          <a class="contact-information">
            <span uk-icon="icon: mail; ratio: 1"></span>
            support@xevello.com
          </a>
        </p>
        <p><a class="contact-information">
            <span uk-icon="icon: phone; ratio: 1"></span>
            +91-9900141870
          </a></p>
        <p><a class="contact-information">
            <span uk-icon="icon: location; ratio: 1"></span>
            Magdoom colony azad street bhatkal
          </a></p>

      </div>
    </div>
    <div class="uk-width-expand@m">
      <div class="uk-card uk-card-body">
        <p class="contact-title uk-margin-medium-bottom">Send us Message</p>
        <form class="uk-grid-small uk-text-left" uk-grid>
          <div class="uk-width-1-2@s">
            <label class="uk-form-label contact-label" for="form-stacked-text">Full Name</label>
            <input class="uk-input contact-input" type="text" placeholder="Abdul kumshey">
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label contact-label" for="form-stacked-text">Company / Agency Name</label>
            <input class="uk-input contact-input" type="text" placeholder="Abdul kumshey">
          </div>
          <div class="uk-width-1-2@s">
            <label class="uk-form-label contact-label" for="form-stacked-text">Phone Number (with country code)</label>
            <input class="uk-input contact-input" type="text" placeholder="+91 9900141***">
          </div>
          <div class="uk-width-1-2@s">
            <label class="uk-form-label contact-label" for="form-stacked-text">Email </label>
            <input class="uk-input contact-input" type="text" placeholder="your mail">
          </div>
          <div class="uk-width-1-1@s">
            <label class="uk-form-label contact-label" for="form-stacked-text">Message </label>
            <textarea class="uk-textarea contact-textarea" rows="5"
              placeholder="Hi, xcs i am abdul from xevello"></textarea>
          </div>
          <div class="uk-width-1-1@s uk-text-right uk-margin">
            <button class="uk-button contact-button">send message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large contact-investor-container uk-text-center">
  <p class="pc-heading">Enterprises who Trust us to Drive Growth and Revenue</p>
  <p class="pc-subheading">We partner with leaders across industries. Browse the list of feathers in our hat.
  </p>
  <app-contact-partners></app-contact-partners>
</div>

<app-footer></app-footer>
