<app-navbar></app-navbar>
<div class="uk-container uk-container-xlarge uk-padding-remove category-container">
  <div class="uk-card  uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
      <img src="assets/img/inventory.jpg" class="category-image" alt="" uk-cover>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body uk-padding-large">
        <h3 class="category-title"> <span>UI &</span> UX</h3>
        <p class="category-services">Services</p>
        <p class="category-details">UX design, or User Experience Design, is the process of designing a system that will provide an optimal experience for end users. It goes through three steps: research, problem solving, and prototyping. Research is a crucial part of the UX design service. We gather information about your customers so our designers can understand their needs and what they want in a final product.
        </p>
        <a href="" class="uk-button category-button">Contact Us</a>
        <br>
        <div class=" uk-margin-medium-top">

        <app-all-svgs  svgId="ui_ux">

        </app-all-svgs>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="uk-container uk-container-large uk-padding-large">
  <p class="category-heading">What we develop</p>
  <p class="category-subheading uk-align-center">We deliver tailored-made back-end and front-end solutions for web
    development. </p>
  <div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-text-center uk-flex-center" uk-grid>
    <div>
      <div class="uk-card uk-card-body uk-padding-small">
        <span class="material-icons-two-tone we-develop-icon">
          shopping_cart
        </span>
        <p class="we-develop-title">Concepts</p>
        <p class="we-develop-details">Our expert UI/UX Designers push every product with all principles and try to match full requirement of clients  </p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-body uk-padding-small">
        <span class="material-icons-two-tone we-develop-icon">
          business
        </span>
        <p class="we-develop-title">Architecture</p>
        <p class="we-develop-details">Architecture is the heart and brain of a product we make sure your concept is made with a perfect and fast.
        </p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-body uk-padding-small">
        <span class="material-icons-two-tone we-develop-icon">
          handyman
        </span>
        <p class="we-develop-title">Prototype</p>
        <p class="we-develop-details">we manufacture the user behavior to deliver a solution with the highest level of usability. </p>
      </div>
    </div>
  </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large offer-container">
  <p class="offer-heading">Are you ready for the following services? <br>
    Custom Website Development?
  </p>
  <p class="offer-details uk-align-center">We at Aalpha Information Systems India Pvt Ltd use the latest technology in
    delivering the
    best website development services. Our development teams use their knowledge and trending technology to handle all
    your business problems and deliver quick solutions. Why wait? Consider outsourcing web development to India. If you
    have a great idea, reach out to us, and we will deliver your project!
  </p>
  <p class="uk-text-center">
    <a href="" class="uk-button onblue-btn">Estimate Project</a>
  </p>
</div>
<div class="uk-container uk-container-xlarge uk-padding-remove">

  <div class="uk-container uk-container-medium uk-padding-large">
    <p class="category-heading">Our services</p>
    <p class="category-subheading uk-align-center">We deliver tailored-made back-end and front-end solutions for web
      development. </p>
    <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      <div class="uk-card-media-left uk-cover-container">
        <img src="assets/img/grocery1.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
      </div>
      <div>
        <div class="uk-card-body uk-padding-large">
          <h3 class="service-title">UI/UX Audit</h3>
          <p class="service-details">As a UI/UX design company, We checks your product from every angle. At this stage, we talk with product owners to figure out their end goals and try to find room for improvement. Applying a set of tools that we have accumulated and mastered over the years, we provide a full step-by-step guide on how to enhance your web solution’s usability, user engagement, and brand authority.

          </p>
        </div>
      </div>
    </div>

    <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img src="assets/img/grocery.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
      </div>
      <div>
        <div class="uk-card-body uk-padding-large">
          <h3 class="service-title">UX Consulting</h3>
          <p class="service-details">
            With a focus on web design, we have been working as a UX consulting company since 2015. A great amount of experience in UX design helps us to see the pain points immediately and eliminate them swiftly and smoothly. After assessing the key elements of your UX, we showcase your business in an unexpected and original way. As we care about our customers, we make sure to supervise the improvement process from start to finish. That is what makes our UI/UX consulting services unique.
          </p>
        </div>
      </div>
    </div>

  </div>

</div>
<div class="uk-container uk-container-xlarge uk-padding-remove tech-container">
  <div class="uk-container uk-container-large uk-padding-large">
    <div uk-slider>

      <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m uk-light uk-grid">
        <li>
          <img src="assets/services/pos.jpg" class="services-img" alt="">
        </li>
        <li>
          <img src="assets/services/education.jpg" class="services-img" alt="">
        </li>
        <li>
          <img src="assets/services/health.jpg" class="services-img" alt="">
        </li>
        <li>
          <img src="assets/services/entertainment.jpg" class="services-img" alt="">
        </li>
        <li>
          <img src="assets/services/travel.jpg" class="services-img" alt="">
        </li>
        <li>
          <img src="assets/img/app-dev.jpg" class="services-img" alt="">
        </li>
        <li>
          <img src="assets/img/branding.jpg" class="services-img" alt="">
        </li>
        <li>
          <img src="assets/img/family.jpg" class="services-img" alt="">
        </li>
      </ul>

  </div>
  </div>

</div>
<app-footer></app-footer>
