<app-navbar></app-navbar>
<div class="uk-container uk-container-large uk-padding-large about-container">
  <p class="about-header uk-align-center">We create digital products and experiences that delight your customers.</p>
  <p class="about-subheader uk-align-center">We adopt emerging technologies, use best practices, and leverage analytics
    to help you grow your business. </p>
</div>

<div class="uk-container uk-container-medium uk-padding-large ">
  <img src="assets/img/family.jpg" class="aboutus-img" alt="">
</div>

<div class="uk-container uk-container-xlarge uk-padding-large aboutus-grid">
  <div class="uk-container uk-container-medium uk-padding-large uk-padding-remove-vertical">
    <p class="aboutus-heading">About us</p>
    <p class="aboutus-details uk-align-center">Many small businesses struggle to get found online, we developed
      comprehensive solutions that get your business found so that you can quit worrying and start running your
      business. We offer digital marketing, branding, professional web design and consulting services to our clients
      around the world.
    </p>
    <div class="uk-container uk-container-small uk-padding">

      <div class="uk-child-width-1-4@m uk-child-width-1-2 uk-text-center" uk-grid>
        <div>
          <div class="uk-card uk-padding-remove uk-card-body">
            <p class="stats-number">32 <span>+</span></p>
            <p class="stats-title">Projects</p>
          </div>
        </div>
        <div>
          <div class="uk-card uk-padding-remove uk-card-body">
            <p class="stats-number">32</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<div class="uk-container uk-container-xlarge uk-padding-large">
  <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
      <img src="assets/img/grocery.jpg" alt="" uk-cover>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="whyus-title">Why Us?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
      </div>
    </div>
  </div>


</div>
<div class="uk-container uk-container-large">
  <p class="clients-title">Some of the incredible clients to whom we gave our best.</p>
  <app-svgs></app-svgs>
</div>


<app-footer></app-footer>
