<app-navbar></app-navbar>
<div class="uk-container uk-container-large uk-padding-large about-container">
  <p class="about-header uk-align-center">We create digital products and experiences that delight your customers.</p>
  <p class="about-subheader uk-align-center">We adopt emerging technologies, use best practices, and leverage analytics
    to help you grow your business. </p>
</div>

<div class="uk-container uk-container-medium uk-padding-large ">
  <img src="assets/img/family.jpg" class="aboutus-img" alt="">
</div>

<div class="uk-container uk-container-xlarge uk-padding-large aboutus-grid">
  <div class="uk-container uk-container-medium uk-padding-large uk-padding-remove-vertical">
    <p class="aboutus-heading">About us</p>
    <p class="aboutus-details uk-align-center">Many small businesses struggle to get found online, we developed
      comprehensive solutions that get your business found so that you can quit worrying and start running your
      business. We offer digital marketing, branding, professional web design and consulting services to our clients
      around the world.
    </p>
    <div class="uk-container uk-container-small uk-padding">

      <div class="uk-child-width-1-4@m uk-child-width-1-2 uk-text-center" uk-grid>
        <div>
          <div class="uk-card uk-padding-remove uk-card-body">
            <p class="stats-number">32 <span>+</span></p>
            <p class="stats-title">Projects</p>
          </div>
        </div>
        <div>
          <div class="uk-card uk-padding-remove uk-card-body">
            <p class="stats-number">32</p>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<div class="uk-container uk-container-xlarge uk-padding-large">
  <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
      <img src="assets/img/grocery.jpg" alt="" uk-cover>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="whyus-title">Why Us?</h3>
        <p class="whyus-details">Our speciality lies in web development. We build streamlined, powerful and robust websites, applications and systems. We love being able to condense big ideas into small, but powerful packages.

          We’re a data-driven development company. We crunch the numbers and analyse results, that’s how we know what works and what doesn’t. <br> Simply put, we help enterprises with digital transformation and start-ups with translating ideas into products.

          Simpler put, we develop web and mobile apps from scratch to launch. We also advise companies to find the right technology solutions and build digital products people love.

          </p>
      </div>
    </div>
  </div>


  <div class="uk-container uk-container-medium uk-padding-remove-top  uk-padding-large uk-padding-remove-bottom">
    <p class="aboutus-slider-title uk-margin-medium">Our Industry Solutions</p>

    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>

      <ul class="uk-slider-items aboutus-slider uk-child-width-1-2 uk-child-width-1-5@m uk-grid">
        <li>
          <div class="uk-panel">
            <img src="assets/img/city.jpg" alt="">
            <p class="aboutus-industry-names">Retail</p>
          </div>
        </li>
        <li>
          <div class="uk-panel">
            <img src="images/slider2.jpg" alt="">
            <div class="uk-position-center uk-panel">
              <h1>2</h1>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-panel">
            <img src="images/slider3.jpg" alt="">
            <div class="uk-position-center uk-panel">
              <h1>3</h1>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-panel">
            <img src="images/slider4.jpg" alt="">
            <div class="uk-position-center uk-panel">
              <h1>4</h1>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-panel">
            <img src="images/slider5.jpg" alt="">
            <div class="uk-position-center uk-panel">
              <h1>5</h1>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-panel">
            <img src="images/slider1.jpg" alt="">
            <div class="uk-position-center uk-panel">
              <h1>6</h1>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-panel">
            <img src="images/slider2.jpg" alt="">
            <div class="uk-position-center uk-panel">
              <h1>7</h1>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-panel">
            <img src="images/slider3.jpg" alt="">
            <div class="uk-position-center uk-panel">
              <h1>8</h1>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-panel">
            <img src="images/slider4.jpg" alt="">
            <div class="uk-position-center uk-panel">
              <h1>9</h1>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-panel">
            <img src="images/slider5.jpg" alt="">
            <div class="uk-position-center uk-panel">
              <h1>10</h1>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>

</div>
<div class="uk-container uk-container-xlarge uk-padding-large dark-background">
  <p class="clients-title">Some of the incredible leaders we work with.</p>
  <app-contact-partners></app-contact-partners>
</div>


<app-footer></app-footer>
