<app-navbar></app-navbar>
<div class="uk-container uk-container-xlarge uk-padding-large grocery-container uk-text-center">
  <p class="grocery-header">Sell your <span>groceries online</span>.</p>
  <p class="grocery-subheader">Build a grocery app that make profits</p>
  <p class="grocery-btn-header">
    <a href="" class="uk-button uk-button-default">Watch Video</a>
    <a href="" class="uk-button uk-button-text">Contact Us</a>
  </p>
</div>

<div class="uk-container uk-container-xlarge uk-padding-large uk-padding-remove-bottom grocery-img-container uk-card">
  <img src="assets/img/website.png" class="grocery-img uk-card" alt="">
</div>

<div class="uk-container uk-container-medium uk-padding-large grocery-ft-grids">
  <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
      <img src="assets/img/grocery.jpg" alt="" uk-cover>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <span class="uk-badge grocery-badge">Cross Platforms</span>
        <p class="grocery-ft-title">Grocery app on all 3 major platform iOS, Android & Web</p>
        <p class="grocery-ft-details">Your customers will have a more platform for purhcasing from your grocery store and you can manager all 3 apps from one admin content management system (CMS). we made every apps with modern technlogy based on native based apps </p>
      </div>
    </div>
  </div>

  <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
      <img src="assets/img/grocery1.jpg" alt="" uk-cover>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <span class="uk-badge grocery-badge">Easy to Manage</span>
        <p class="grocery-ft-title">Manage your products smoothly with ease</p>
        <p class="grocery-ft-details">Managing your store is so easy and well documented with all modern CMS (Content Management System) Features that includes manage your categories, sub-categories, products, brands, customer, pruchase, inventory integrated with xevello POS, Advanced reporting, Wallet Managemnt and much more. </p>
      </div>
    </div>
  </div>


</div>

<app-footer></app-footer>
