<app-navbar></app-navbar>
<div class="uk-container uk-container-xlarge uk-padding-remove category-container">
  <div class="uk-card  uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
      <img src="assets/img/app-dev.jpg" class="category-image" alt="" uk-cover>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body uk-padding-large">
        <h3 class="category-title"> <span>Web</span> Development</h3>
        <p class="category-services">Services</p>
        <p class="category-details">Nowadays, a web-based application is a versatile solution for a wide range of
          problems. We’ve developed apps for years and we know how it’s done.

          We chose to specialise in just a handful of modern programming languages. This ensures higher quality and
          faster development time for your app.
        </p>
        <a href="" class="uk-button category-button">Contact Us</a>
        <br>
        <app-all-svgs svgId="web_dev">

        </app-all-svgs>
      </div>
    </div>
  </div>
</div>
<div class="uk-container uk-container-large uk-padding-large">
  <p class="category-heading">What we develop</p>
  <p class="category-subheading uk-align-center">We deliver tailored-made back-end and front-end solutions for web
    development. </p>
  <div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-text-center uk-flex-center" uk-grid>
    <div>
      <div class="uk-card uk-card-body uk-padding-small">
        <span class="material-icons-two-tone we-develop-icon">
          shopping_cart
          </span>
        <p class="we-develop-title">Ecommerce Applications</p>

      </div>
    </div>
    <div>
      <div class="uk-card uk-card-body uk-padding-small">
        <span class="material-icons-two-tone we-develop-icon">
          business
          </span>
        <p class="we-develop-title">Enterprise Applications</p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-body uk-padding-small">
        <span class="material-icons-two-tone we-develop-icon">
          handyman
          </span>
        <p class="we-develop-title">SaaS Applications</p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-body uk-padding-small">
        <span class="material-icons-two-tone we-develop-icon">
          important_devices
          </span>
        <p class="we-develop-title">Single Page Application</p>
      </div>
    </div>
  </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large offer-container">
  <p class="offer-heading">Are you ready for the following services? <br>
    Custom Website Development?
  </p>
  <p class="offer-details uk-align-center">We at Aalpha Information Systems India Pvt Ltd use the latest technology in
    delivering the
    best website development services. Our development teams use their knowledge and trending technology to handle all
    your business problems and deliver quick solutions. Why wait? Consider outsourcing web development to India. If you
    have a great idea, reach out to us, and we will deliver your project!
  </p>
  <p class="uk-text-center">
    <a href="" class="uk-button onblue-btn">Estimate Project</a>
  </p>
</div>
<div class="uk-container uk-container-small uk-padding-large">
  <p class="category-heading">Our services</p>
  <p class="category-subheading uk-align-center">We deliver tailored-made back-end and front-end solutions for web
    development. </p>
  <div class="uk-child-width-1-2@s uk-child-width-1-2@m uk-text-center uk-flex-center" uk-grid>
    <div>
      <div class="uk-card uk-card-body uk-padding-small">
        <p class="service-title">Front End Development</p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-body uk-padding-small">
        <p class="service-title">Back End Development</p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-body uk-padding-small">
        <p class="service-title">API Development</p>
      </div>
    </div>
  </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-remove tech-container">
  <div class="uk-container uk-container-medium uk-padding-large">
    <app-all-svgs svgId="web_tech">

    </app-all-svgs>
  </div>
</div>
<app-footer></app-footer>
