@import 'variables';
@import 'mixins';
@import 'custom';
/* UIKit */
@import "variables-theme.scss";
@import "mixins-theme.scss";
@import "uikit-theme.scss";
@import 'material-icons/iconfont/material-icons.css';




@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');


body,
a,
h3 {
  font-family: 'Poppins', sans-serif !important;
}


.navbar {
  background-color: #071e3d !important;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0px;
}

.sidenav-trigger {
  color: white;
  width: 46px;
  display: none;
}

.navbar>div>ul>li>a {
  color: white !important;
  text-transform: capitalize;
  font-size: 10.5pt;
}

.header-logo {
  width: 120px;
}

.navbar>div>ul>li.uk-grocery>a {
  color: #f4fa9c !important;
}

.header-logo>g>g>path {
  fill: white;
}

.uk-navbar-nav>li>a,
.uk-navbar-item,
.uk-navbar-toggle {
  min-height: 80px;
}


.nav-button {
  background: none;
  border: 1px solid #e2f3f5;
  text-transform: none;
  padding: 2px 20px;
  border-radius: 4px;
}

.home-sliders {
  height: 640px;
}

.home-sliders>li>img {
  height: 640px;
  width: 100%;
  object-fit: cover;
}

.home-dotnav>li>a {
  width: 15px;
  height: 5px;
  border-radius: 1px;
}

.home-dotnav>li.uk-active>a {
  width: 20px;
  border-radius: 2px;
  height: 5px;
  background-color: white;
}


.hslider-overlay_a {
  filter: opacity(65%);
  background-color: #071e3d;
}

.hslider-title {
  font-size: 38pt;
  color: white;
  font-family: 'DM Serif Display', sans-serif;
  width: 60%;
  text-align: center;
}

.default-button {
  background: none;
  border: 1px solid white;
  border-radius: 4px;
  text-transform: capitalize;
}

.primary-title {
  font-size: 22pt;
  color: black;
  text-align: left;
  font-weight: 700;
  font-family: 'Playfair Display', sans-serif;
}

.default-container {
  background-color: #f3f3f3;
}

.primary-container {
  background-color: #071e3d;
}

.container-title {
  font-size: 18pt;
  color: black;
  text-align: left;
  font-weight: 500;
}

.container-details {
  font-size: 11pt;
  color: rgb(85, 85, 85);
}

.es-grid {
  background-color: white;
  cursor: pointer;
}

.es-grid:hover {
  border-bottom: 2px solid #071e3d;
}


.container-chevron {
  padding: 10px;
  border: 2px solid #071e3d;
  border-radius: 25px;
  color: #071e3d;
}

.h_aboutus_title {
  font-size: 18pt;
  font-weight: 700;
  color: black;
  text-align: left;
}

.h_aboutus_details {
  font-size: 11pt;
  color: #e2f3f5;
  text-align: left;
}

.h_about_accord>li>a {
  font-size: 12pt;
}

.about_accord_details {
  font-size: 11pt;
}

.viewgrid-a {
  background-color: #f8f8f8;
}

.viewgrid-b {
  background-color: #0a2a55;
}

.view-title {
  font-size: 32pt;
  color: black;
  text-align: left;
  font-family: 'Playfair Display', sans-serif !important;
  font-weight: 600;
}

.build-title {
  font-size: 10pt;
  color: #c56321;
}

.view-more {
  font-size: 10.5pt;
  color: black;
  text-transform: capitalize !important;
}

.view-title-a {
  color: white;
}

.categories-title {
  font-size: 18pt;
  color: black;
  text-align: left;
  font-family: 'Playfair Display', sans-serif;
}

.contact-heading {
  font-size: 28pt;
  color: #071e3d;
  font-weight: 600;
  text-align: center;
}

.contact-subheading {
  font-size: 10pt;
  color: grey;
  text-align: center;
}

.contact-banner-title {
  font-size: 12pt;
  color: #482ff7;
  font-weight: 500;
}

.contact-banner-heading {
  font-size: 38px;
  color: #071e3d;
  font-weight: 600;
  text-align: left;
}

.contact-banner-subheading {
  font-size: 10pt;
  color: #071e3d60;
  font-weight: 400;
}

.contact-linked-href {
  font-size: 10pt;
  color: #071e3d;
  text-decoration: underline;
}

.hw-contact-heading {
  font-size: 32px;
  color: #071e3d;
  text-align: left;
  font-weight: 500;
}

.footer-container {
  background-color: #071e3d;
}


.footer-logo {
  width: 140px;
}

.footer-logo>g>g>path {
  fill: white;
}

.reserved-heading {
  font-size: 10pt;
  color: white;
  margin-top: 10px;
}

.footer-heading {
  font-size: 11pt;
  color: white;
  text-align: left;
  text-transform: uppercase;
}

.footer-menu {
  margin-top: 0px !important;
  margin-bottom: 12px !important;
}

.footer-menu>a {
  color: #ffffff90;
  font-size: 10pt;
  text-transform: capitalize;
}

.social-details {
  font-size: 10pt;
  color: white;
  text-align: left;
}

.social-menu>a {
  padding: 6px;
  color: #071e3d;
  border-radius: 25px;
  background-color: white;
  margin-right: 10px;
}

.webfeatures-heading {
  font-size: 38pt;
  color: black;
  text-align: left;
  font-weight: 600;
}

.webfeatures-details {
  font-size: 11.5pt;
  color: grey;
  text-align: left;
}

.contact-container {
  background-color: #071e3d;
  height: 35vh;
}

.contact-header {
  color: white;
  font-size: 36pt;
  // font-family: 'DM Serif Display', sans-serif;
  font-family: 'Playfair Display', sans-serif;
  letter-spacing: 1px;
  margin-top: 20px;
  text-align: center;
}

.contact-subheader {
  text-align: center;
  font-size: 11pt;
  color: white;
  width: 50%;
  margin-top: 0px;
}

.contactus-grid {
  bottom: 60px;
  background-color: #f1f1f1;
}

.contactinfo-grid {
  background-color: #0a2a55;
}

.contact-investor-container {
  background-color: #f3f3f3;
}

.contactinfo-title {
  color: white;
  text-align: left;
  text-transform: capitalize;
}

.contact-information {
  color: white;
  font-size: 10pt;
  text-decoration: none !important;
}

.contact-information>span {
  margin-right: 20px;
}

.contact-information>span {
  color: white;
}

.contact-title {
  font-size: 24pt;
  font-weight: 600;
  font-family: 'Playfair Display', sans-serif;
  color: black;
}

.contact-label {
  font-size: 9pt;
  color: #071e3d;
  display: inline-block;
  margin-bottom: 4px !important;
}


.contact-input {
  height: 44px;
  border: none;
  font-size: 10pt;
  color: black;
  background: none;
  border-bottom: 1px solid #071e3d;
}

.contact-input::placeholder {
  font-size: 10pt;
}

.contact-input:hover,
.contact-input:focus {
  background: none;
  color: black;
  border-bottom: 1px solid #482ff7;
}

.contact-textarea {
  background: none;
  border: none;
  font-size: 11pt;
  border-bottom: 1px solid #071e3d;
  color: black;
}

.contact-textarea::placeholder {
  font-size: 10pt;
}

.contact-textarea:hover,
.contact-textarea:focus {
  background: none;
  font-size: 11pt;
  color: black;
  border-bottom: 1px solid #482ff7;
}

.contact-button {
  background-color: #482ff7;
  color: white;
  border: none;
  padding: 6px 40px;
  font-size: 10pt;
  text-transform: capitalize;
}

.pc-heading {
  font-size: 20pt;
  color: black;
  font-weight: 600;
  margin-bottom: 0px;
  text-align: center;
}

.pc-subheading {
  font-size: 11pt;
  margin-top: 4px;
}

.cp-grid {
  background-color: white;
  border-radius: 8px;
}

.cp-grid>svg {
  width: 120px;
}

.investor-container {
  background-color: #071e3d;
}

.investor-header {
  font-size: 38pt;
  color: white;
  font-family: 'DM Serif Display', sans-serif;
  letter-spacing: 1px;
  text-align: left;
}

.investor-header>span {
  text-decoration: line-through;
}

.investor-subheader {
  font-size: 11pt;
  color: white;
  text-align: left;
}

.uk-watch-btn {
  background: none;
  color: white;
  font-size: 10pt;
  border-radius: 25px;
  padding: 5px 30px;
  text-transform: capitalize;
}

.uk-contact-btn {
  background-color: #482ff7;
  border: 1px solid #e2f3f5;
  padding: 4px 30px;
  border-radius: 25px;
  text-transform: capitalize;
  color: white;
}

.uk-contact-btn:hover {
  color: white;
}

.xo-default-heading {
  font-size: 18pt;
  color: black;
  text-align: center;
  font-weight: 600;
}

.xo-default-subheading {
  font-size: 11pt;
  color: grey;
}

.investment-grid {
  background-color: white;
  padding: 30px;
}

.investment-grid:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

.investment-icon {
  width: 50px;
}

.project-title {
  font-size: 14pt;
  font-weight: 600;
  color: #071e3d;
  margin-bottom: 4px;
}

.project-subtitle {
  margin-top: 10px;
  color: black;
  font-size: 10pt;
}

.c-news-color {
  background-color: #071e3d;
  height: 60px;
}

.news-uigrid {
  background-color: #f0eff1;
  top: 100px;
}

.news-uigrid>img {
  width: 75%;
  border-radius: 16px;
}

.news-uititle {
  font-size: 34pt;
  font-weight: 600;
  color: #071e3d;
  text-align: center;
  width: 60%;
}

.investment-products {
  background-color: #071e3d;
}

.project-heading {
  font-size: 34pt;
  color: white;
  font-family: 'Playfair Display', sans-serif !important;
  font-style: italic;
}

.project-details {
  font-size: 12pt;
  color: white;
}

.project-dotnav>li>a {
  background-color: white;
  width: 15px;
  border-radius: 2px;
  height: 3px;
}

.project-dotnav>li.uk-active>a,
.project-dotnav>li:hover>a {
  background-color: #482ff7 !important;
  width: 20px;
}

.career-container {
  background-color: #071e3d;
}

.career-title {
  font-size: 32pt;
  color: white;
  text-align: center;
  font-weight: 600;
}

.career-subtitle {
  font-size: 11pt;
  text-align: center;
  color: white;
}

.grocery-container {
  height: 250px;
  background-color: #071e3d;
  border: none !important;
}

.grocery-header {
  color: white;
  text-transform: capitalize;
  font-size: 34pt;
  font-family: 'DM Serif Display', sans-serif;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 0px;
}

.grocery-btn-header>a {
  color: white !important;
  text-transform: capitalize;
  font-size: 11pt;
}

.grocery-btn-header>a:first-child {
  padding: 6px 20px;
  margin-right: 20px;
  border-radius: 25px;
}

.grocery-header>span {
  color: #f4fa9c;
}

.grocery-subheader {
  font-size: 12pt;
  color: white;
  margin-top: 2px;
  text-align: center;
}

.grocery-img-container {
  background: linear-gradient(0deg, white 60%, #071e3d 40%);
  border: none;
  bottom: 1px;
}

.grocery-reviews {
  background-color: #f0eff1;
}

.grocery-badge {
  background-color: #73d9f399;
  color: #071e3d !important;
  padding: 12px;
  font-size: 10pt;
  font-weight: 500;
}

.grocery-ft-title {
  font-size: 22pt;
  color: #071e3d;
  font-weight: 600;
  text-align: left;
}

.grocery-ft-details {
  font-size: 12pt;
  color: #071e3d;
}

.about-container {
  background-color: white;
}

.about-header {
  font-size: 42pt;
  color: #071e3d;
  text-align: center;
  font-family: 'DM Serif Display', sans-serif;
  width: 55%;
  margin-top: 10px;
}

.about-subheader {
  text-align: center;
  font-size: 1.2em;
  color: grey;
  width: 57%;
}

.aboutus-img {
  height: 550px;
  width: 100%;
  object-fit: cover;
}

.aboutus-grid {
  background-color: #071e3d;
}

.aboutus-heading {
  font-size: 26pt;
  font-family: 'Playfair Display', sans-serif;
  color: white;
  text-transform: capitalize;
  text-align: center;
}

.aboutus-details {
  font-size: 1.2em;
  color: white;
  text-align: center;
  width: 70%;
}

.stats-number {
  font-size: 38pt;
  font-family: 'Playfair Display', sans-serif;
  color: white;
}

.stats-number>span {
  font-size: 22pt;
  font-weight: 600;
}

.stats-title {
  font-size: 12pt;
  color: white;
  text-align: center;
}

.whyus-title {
  font-family: 'DM Serif Display', sans-serif !important;
  color: black;
  text-align: left;
  font-size: 28pt;
}

.clients-title {
  font-size: 18pt;
  color: #071e3d;
  font-family: 'Playfair Display', sans-serif;
  text-align: center;
}

.category-container {
  background-color: #071e3d;
}

.category-image {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.category-title {
  font-size: 2.4rem;
  color: white;
  margin: 0px;
}

.category-title>span {
  font-weight: 600;
}

.category-services {
  margin: 0px;
  font-size: 2.4rem;
  color: white;
}

.category-details {
  font-size: 11pt;
  color: white;
}

.offer-container {
  background-color: #482ff7;
}

.offer-heading {
  font-size: 22pt;
  text-align: center;
  font-weight: 600;
  color: white;
}

.offer-details {
  font-size: 12pt;
  color: white;
  text-align: center;
  width: 85%;
}

.onblue-btn {
  background-color: white !important;
  color: #071e3d;
  padding: 6px 30px;
  text-transform: none;
}

.category-button {
  background: none;
  border: 1px solid white;
  color: white !important;
  text-transform: capitalize;
  border-radius: 4px;
  margin-top: 10px;
}

.category-heading {
  font-size: 2rem;
  color: #071e3d;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0px;
}

.category-subheading {
  font-size: 1rem;
  color: #0a2a55;
  width: 50%;
  margin-top: 0px;
  text-align: center;
}

.category-header-logo {
  width: 60px;
  margin-top: 40px;
  fill: white !important;
  margin-right: 20px;
}

.service-title {
  font-size: 18pt;
  font-family: 'Playfair Display', sans-serif !important;
  text-align: center;
  color: #071e3d;
}

.we-develop-title {
  font-size: 12pt;
  color: #071e3d;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin: 0px;
}

.we-develop-icon {
  font-size: 30pt;
  text-align: left;
}

.tech-container {
  background-color: #e2f3f5;
  padding: 10px !important;
}

.tech-grids {
 background-color: white;
}

.web-techgrid {
  border-radius: 8px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;

}

.web-techgrid>svg {
  width: 90px;
}

@media only screen and (max-width:1100px) {
  .navbar>div>ul {
    display: none;
  }

  .sidenav-trigger {
    display: flex;
  }

  .investor-img-container {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .navbar {
    padding-left: 0px;
    padding-right: 0px;
  }

  .home-sliders {
    height: 400px;
  }

  .hslider-title {
    font-size: 22pt;
    text-align: center;
    width: 90%;
  }

  .contact-banner-heading {
    font-size: 16pt;
  }

  .hw-contact-heading {
    font-size: 13pt;
  }

  .contact-header {
    font-size: 18pt;
  }

  .contact-subheader {
    width: 100%;
    font-size: 10pt;
  }

  .contactus-grid {
    margin: 20px;
  }

  .contact-title {
    font-size: 18pt;
  }

  .pc-heading {
    font-size: 14pt;
  }

  .pc-subheading {
    font-size: 10pt;
  }

  .grocery-header {
    margin-top: 0px;
    font-size: 29pt;
  }

  .grocery-container {
    height: 150px;
  }

  .grocery-subheader {
    font-size: 10pt;
  }

  .about-header {
    font-size: 24pt;
  }
}
