<app-navbar></app-navbar>
<div class="uk-container uk-container-xlarge uk-padding-remove investor-container">
  <div class="uk-container uk-container-medium uk-padding-large uk-padding-small-top">
    <div class="uk-child-width-1-2@s uk-child-width-1-2@m uk-text-center" uk-grid>
      <div>
        <div class="uk-card uk-padding-remove uk-card-body">
          <h1 class="investor-header ">Transforming modern businesses with <span>smart</span> IT solutions.</h1>
          <p class="investor-subheader">
            Investing in startups gives you a ringside seat to solutions for challenging problems or the development of
            new technologies. this ain't about helping companies or start-up this start up was build for the community.
          </p>
          <p class="uk-text-left">
            <a href="" class="uk-button uk-contact-btn">Contact Us</a>
            <a href="#" class="uk-button uk-watch-btn uk-text-left"> <span uk-icon="icon: play"></span> Watch Video</a>
          </p>
        </div>
      </div>
      <div>
        <div class="uk-card uk-padding-remove uk-card-body investor-img-container">
          <img src="assets/img/news.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="uk-container uk-container-medium uk-padding-large uk-text-center">
  <p class="xo-default-heading uk-margin-remove-bottom">You'll never go broke by investing in yourself</p>
  <p class="xo-default-subheading uk-margin-remove-top uk-margin-medium-bottom">Invest in our latest projects </p>
  <div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-text-center uk-grid-collapse uk-grid-match" uk-grid>
    <div>
      <div class="uk-card investment-grid uk-padding-small uk-card-body uk-text-left">
        <img src="assets/icons/bgrocery.png" class="investment-icon uk-text-left" alt="">
        <p class="project-title">Grocery Delivery</p>
        <p class="project-subtitle">Grocery delivery App in india and dubai soon starting from 2022. </p>
      </div>
    </div>
    <div>
      <div class="uk-card investment-grid uk-padding-small uk-card-body uk-text-left">
        <img src="assets/icons/bdelivery.png" class="investment-icon uk-text-left" alt="">
        <p class="project-title">Food Delivery</p>
        <p class="project-subtitle">Food Delivery App with new concepts that save billion of dollars</p>
      </div>
    </div>
    <div>
      <div class="uk-card investment-grid uk-padding-small uk-card-body uk-text-left">
        <img src="assets/icons/binvoice.png" class="investment-icon uk-text-left" alt="">
        <p class="project-title">Sales ERP</p>
        <p class="project-subtitle">Sales & inventory modern solution with tax integration online</p>

      </div>
    </div>
    <div>
      <div class="uk-card investment-grid uk-padding-small uk-card-body uk-text-left">
        <img src="assets/icons/bnews.png" class="investment-icon uk-text-left" alt="">
        <p class="project-title">News App</p>
        <p class="project-subtitle">Read worldwide news filtered wisely with wised </p>
      </div>
    </div>
  </div>
</div>

<div class="uk-container uk-container-xlarge uk-padding-large" style="background-color: #f3f3f3;">

</div>

<app-footer></app-footer>
