<app-navbar></app-navbar>
<div class="uk-container uk-container-xlarge uk-padding-remove investor-container">
  <div class="uk-container uk-container-medium uk-padding-large uk-padding-small-top">
    <div class="uk-child-width-1-2@s uk-child-width-1-2@m uk-text-center" uk-grid>
      <div>
        <div class="uk-card uk-padding-remove uk-card-body">
          <h1 class="investor-header ">Transforming modern businesses with <span>smart</span> IT solutions.</h1>
          <p class="investor-subheader">
            Investing in startups gives you a ringside seat to solutions for challenging problems or the development of
            new technologies. this ain't about helping companies or start-up this start up was build for the community.
          </p>
          <p class="uk-text-left">
            <a href="" class="uk-button uk-contact-btn">Contact Us</a>
            <a href="#" class="uk-button uk-watch-btn uk-text-left"> <span uk-icon="icon: play"></span> Watch Video</a>
          </p>
        </div>
      </div>
      <div>
        <div class="uk-card uk-padding-remove uk-card-body investor-img-container">
          <img src="assets/img/news.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="uk-container uk-container-medium uk-padding-large uk-text-center">
  <p class="xo-default-heading uk-margin-remove-bottom">You'll never go broke by investing in yourself</p>
  <p class="xo-default-subheading uk-margin-remove-top uk-margin-medium-bottom">Invest in our latest projects </p>
  <div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-text-center uk-grid-collapse uk-grid-match" uk-grid>
    <div>
      <div class="uk-card investment-grid uk-padding-small uk-card-body uk-text-left">
        <img src="assets/icons/bgrocery.png" class="investment-icon uk-text-left" alt="">
        <p class="project-title">Grocery Delivery</p>
        <p class="project-subtitle">Grocery delivery App in india and dubai soon starting from 2022. </p>
      </div>
    </div>
    <div>
      <div class="uk-card investment-grid uk-padding-small uk-card-body uk-text-left">
        <img src="assets/icons/bdelivery.png" class="investment-icon uk-text-left" alt="">
        <p class="project-title">Food Delivery</p>
        <p class="project-subtitle">Food Delivery App with new concepts that save billion of dollars</p>
      </div>
    </div>
    <div>
      <div class="uk-card investment-grid uk-padding-small uk-card-body uk-text-left">
        <img src="assets/icons/binvoice.png" class="investment-icon uk-text-left" alt="">
        <p class="project-title">Sales ERP</p>
        <p class="project-subtitle">Sales & inventory modern solution with tax integration online</p>

      </div>
    </div>
    <div>
      <div class="uk-card investment-grid uk-padding-small uk-card-body uk-text-left">
        <img src="assets/icons/bnews.png" class="investment-icon uk-text-left" alt="">
        <p class="project-title">News App</p>
        <p class="project-subtitle">Read worldwide news filtered wisely with wised </p>
      </div>
    </div>
  </div>
</div>

<div class="uk-container uk-container-xlarge uk-padding-large news-uigrid uk-flex-center">
  <p class="news-uititle uk-align-center">
    Read news from 100+ news channels in 70 words
  </p>
  <img src="assets/img/website.png" class="uk-align-center" alt="">
  <app-contact-partners></app-contact-partners>

</div>

<div class="uk-container uk-container-xlarge uk-padding-large investment-products">
  <div uk-slider>

    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

      <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-1@m">
        <li>
          <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
              <img src="assets/img/delivery.jpg" alt="" uk-cover>
              <canvas width="600" height="400"></canvas>
            </div>
            <div>
              <div class="uk-card-body">
                <h3 class="project-heading">Hunger don't have any vacation! order food online.</h3>
                <p class="project-details">XCS(Xevello Consultancy) is developing app to deliver foods online which
                  saves millions of dollar for both restaurant and customers. we are planning to launch this in (India)
                  Bangalore or (UAE) Dubai on 2022 January might be delayed for 3 month. </p>
                  <a href="http://" class="uk-button uk-button-text" target="_blank" rel="noopener noreferrer"></a>
              </div>
            </div>
          </div>
        </li>
        <li>

          <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
              <img src="assets/img/grocery1.jpg" alt="" uk-cover>
              <canvas width="600" height="400"></canvas>
            </div>
            <div>
              <div class="uk-card-body">
                <h3 class="project-heading">Shop gorceries online from your favorite stores</h3>
                <p class="project-details">Who don't want to shop their groceries online from your favorite stores and get it deliver with in 2 hours or you can pick up your groceires directly from store first we will launch in UAE (Dubai & Abu Dhabi) on january right now we are working on it name and launch will be on january 2022 might get extended.</p>
                  <a href="http://" class="uk-button uk-button-text" target="_blank" rel="noopener noreferrer"></a>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
              <img src="assets/img/inventory.jpg" alt="" uk-cover>
              <canvas width="600" height="400"></canvas>
            </div>
            <div>
              <div class="uk-card-body">
                <h3 class="project-heading">Manage your sales and warehouse inventory.</h3>
                <p class="project-details">Manage your business sales where you can manage your inventory online. Track health of your business with real time advanced reporting and send customers offer sms on phone or whatsapp depend on your plans for the first time we are integrating fully HRM (Human Resource Management) Solutions. </p>
                  <a href="http://" class="uk-button uk-button-text" target="_blank" rel="noopener noreferrer"></a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <ul class="uk-slider-nav uk-dotnav project-dotnav uk-flex-center uk-margin"></ul>

  </div>
</div>

<app-footer></app-footer>
