<app-navbar></app-navbar>
<div class="uk-container uk-container-xlarge uk-padding-remove category-container">
  <div class="uk-card  uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
      <img src="assets/img/app-dev.jpg" class="category-image" alt="" uk-cover>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body uk-padding-large">
        <h3 class="category-title"> <span>Digital</span></h3>
        <p class="category-services">Marketing</p>
        <p class="category-details">Nowadays, a web-based application is a versatile solution for a wide range of
          problems. We’ve developed apps for years and we know how it’s done.

          We chose to specialise in just a handful of modern programming languages. This ensures higher quality and
          faster development time for your app.
        </p>
        <a href="" class="uk-button category-button">Contact Us</a>
        <br>
        <div class="uk-margin-top">
        <app-all-svgs svgId="digital_marketing">

        </app-all-svgs>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="uk-container uk-container-large uk-padding-large">
  <p class="category-heading">What we develop</p>
  <p class="category-subheading uk-align-center">We deliver tailored-made back-end and front-end solutions for web
    development. </p>
  <div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-text-center uk-flex-center" uk-grid>
    <div>
      <div class="uk-card uk-card-body uk-padding-small">
        <span class="material-icons-two-tone we-develop-icon">
          shopping_cart
        </span>
        <p class="we-develop-title">SEO (Search Engine Optimization)</p>
        <p class="we-develop-details">Ecommerce has revolutionized retail where everything from purchases to sales can
          be done using mobile devices.</p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-body uk-padding-small">
        <span class="material-icons-two-tone we-develop-icon">
          business
        </span>
        <p class="we-develop-title">Google Ads</p>
        <p class="we-develop-details">Enhance business insights and operational agility and maximise return on your
          software investment.
        </p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-body uk-padding-small">
        <span class="material-icons-two-tone we-develop-icon">
          handyman
        </span>
        <p class="we-develop-title">Social Media Marketing</p>
        <p class="we-develop-details">Our SaaS solutions deploy multi-tenant architecture to help you maximize
          monetization while minimizing costs. </p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-body uk-padding-small">
        <span class="material-icons-two-tone we-develop-icon">
          important_devices
        </span>
        <p class="we-develop-title">Email Marketing</p>
        <p class="we-develop-details">We will transform your large-scale and heavy web portal into a fast and responsive
          single page application. </p>
      </div>
    </div>
  </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large offer-container">
  <p class="offer-heading">Are you ready for the following services? <br>
    Custom Website Development?
  </p>
  <p class="offer-details uk-align-center">We at Aalpha Information Systems India Pvt Ltd use the latest technology in
    delivering the
    best website development services. Our development teams use their knowledge and trending technology to handle all
    your business problems and deliver quick solutions. Why wait? Consider outsourcing web development to India. If you
    have a great idea, reach out to us, and we will deliver your project!
  </p>
  <p class="uk-text-center">
    <a href="" class="uk-button onblue-btn">Estimate Project</a>
  </p>
</div>
<div class="uk-container uk-container-xlarge uk-padding-remove">

  <div class="uk-container uk-container-medium uk-padding-large uk-padding-remove-bottom">
    <p class="category-heading">Our services</p>
    <p class="category-subheading uk-align-center">We deliver tailored-made back-end and front-end solutions for web
      development. </p>
    <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      <div class="uk-card-media-left uk-cover-container">
        <img src="assets/img/grocery1.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
      </div>
      <div>
        <div class="uk-card-body uk-padding-large">
          <h3 class="service-title">Local SEO</h3>
          <p class="service-details">We skillfully combine powerful coding languages to bring our clients the best user
            experience and most impressive designs. We, at Ficode make sure that your web presence is guaranteed to make
            a lasting impression and help your customers to navigate application so they’ll want to come back.

          </p>
        </div>
      </div>
    </div>

    <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img src="assets/img/grocery.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
      </div>
      <div>
        <div class="uk-card-body uk-padding-large">
          <h3 class="service-title">E-commerce Marketing</h3>
          <p class="service-details">
            Backend developers are primarily focused on how a website works. We write code that focuses on the
            functionality and logic powering the application they’re working on, and the technology they work on is
            never directly seen by users.
          </p>
        </div>
      </div>
    </div>

    <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      <div class="uk-card-media-left uk-cover-container">
        <img src="assets/img/grocery1.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
      </div>
      <div>
        <div class="uk-card-body uk-padding-large">
          <h3 class="service-title">Facebook - Instagram Ads</h3>
          <p class="service-details">XCS uses the SOAP/ REST API methods by using different programming languages. Our
            recommendations for API management and API integration solutions are developed based on rigorous analysis,
            taking into account code, processes, security and architecture that will meet all your business needs. We
            have developed several scalable systems with high transactions rate.



          </p>
        </div>
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>
