<app-navbar></app-navbar>
<div class="uk-container uk-container-xlarge uk-padding-remove category-container">
  <div class="uk-card  uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
      <img src="assets/img/app-dev.jpg" class="category-image" alt="" uk-cover>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body uk-padding-large">
        <h3 class="category-title"> <span>Branding</span></h3>
        <p class="category-services">Services</p>
        <p class="category-details">Comprehensive and considered, each feature of your brand is designed with purpose. This package will equip your business with an arsenal of creative details to establish continuity across all of your touchpoints­­—forming one stellar brand experience.




        </p>
        <a href="" class="uk-button category-button">Contact Us</a>
        <br>
        <div class="uk-margin-top">
        <app-all-svgs svgId="news_brands">

        </app-all-svgs>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="uk-container uk-container-large uk-padding-large">
  <p class="category-heading">What we develop</p>
  <p class="category-subheading uk-align-center">We deliver tailored-made back-end and front-end solutions for web
    development. </p>
  <div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-text-center uk-flex-center" uk-grid>
    <div>
      <div class="uk-card uk-card-body uk-padding-small">
        <span class="material-icons-two-tone we-develop-icon">
          shopping_cart
        </span>
        <p class="we-develop-title">Product Branding</p>
        <p class="we-develop-details">Branding of a product is a main aspect how your product mean to customer we make it possible that should be everything for your customer.
        </p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-body uk-padding-small">
        <span class="material-icons-two-tone we-develop-icon">
          business
        </span>
        <p class="we-develop-title">Service Branding</p>
        <p class="we-develop-details">Million of companies are spending billions on service branding to stand out from entire market be in the eye of world's top client.
        </p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-body uk-padding-small">
        <span class="material-icons-two-tone we-develop-icon">
          handyman
        </span>
        <p class="we-develop-title">Retail Branding</p>
        <p class="we-develop-details">In this pandemic every customer want a safe and secure way of branding thier retail values in a good way. </p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-body uk-padding-small">
        <span class="material-icons-two-tone we-develop-icon">
          important_devices
        </span>
        <p class="we-develop-title">Corporate Branding</p>
        <p class="we-develop-details">Lacking brand values of your companies we are here to help you move from 90's to the future with better branding </p>
      </div>
    </div>
  </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large offer-container">
  <p class="offer-heading">Are you ready for the following services? <br>
    Custom Website Development?
  </p>
  <p class="offer-details uk-align-center">We at Aalpha Information Systems India Pvt Ltd use the latest technology in
    delivering the
    best website development services. Our development teams use their knowledge and trending technology to handle all
    your business problems and deliver quick solutions. Why wait? Consider outsourcing web development to India. If you
    have a great idea, reach out to us, and we will deliver your project!
  </p>
  <p class="uk-text-center">
    <a href="" class="uk-button onblue-btn">Estimate Project</a>
  </p>
</div>
<div class="uk-container uk-container-xlarge uk-padding-remove">

  <div class="uk-container uk-container-medium uk-padding-large uk-padding-remove-bottom">
    <p class="category-heading">Our services</p>
    <p class="category-subheading uk-align-center">We deliver tailored-made back-end and front-end solutions for web
      development. </p>
    <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      <div class="uk-card-media-left uk-cover-container">
        <img src="assets/img/grocery1.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
      </div>
      <div>
        <div class="uk-card-body uk-padding-large">
          <h3 class="service-title">Logo Design</h3>
          <p class="service-details">Conceptualizing an effective logo for a company or product can be very challenging and very rewarding. A custom logo design should be able to meet existing design principles and standards like: balance, proximity or unity, alignment, consistency or repetition, white space and contrast. It should also be able to withstand resizing. Whether it’s splashed across a billboard or printed on a business card, it must maintain its integrity and original form – table stakes for any experienced logo design company.

          </p>
        </div>
      </div>
    </div>

    <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img src="assets/img/grocery.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
      </div>
      <div>
        <div class="uk-card-body uk-padding-large">
          <h3 class="service-title">Product Packaging</h3>
          <p class="service-details">
            We help brands redefine their packaging structural design by emphasizing user experience. We innovate and engineer usable structures and materials to create authentic sensory interactions, and moments of delight in packaging.


          </p>
        </div>
      </div>
    </div>


  </div>

</div>
<app-footer></app-footer>
