<app-navbar></app-navbar>
<div class="uk-container uk-container-xlarge uk-padding-remove category-container">
  <div class="uk-card  uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
      <img src="assets/img/inventory.jpg" class="category-image" alt="" uk-cover>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body uk-padding-large">
        <h3 class="category-title"> <span>App</span> Development</h3>
        <p class="category-services">Services</p>
        <p class="category-details">Xevello engages intensely with businesses to get the best possible picture of their requirements. It is followed by crafting of robust, secure & scalable iOS and android app development solutions for your business.
        </p>
        <a href="" class="uk-button category-button">Contact Us</a>
        <br>
        <div class=" uk-margin-medium-top">

        <app-all-svgs  svgId="app_dev">

        </app-all-svgs>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="uk-container uk-container-large uk-padding-large">
  <p class="category-heading">What we develop</p>
  <p class="category-subheading uk-align-center">We deliver tailored-made back-end and front-end solutions for web
    development. </p>
  <div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-text-center uk-flex-center " uk-grid>
    <div>
      <div class="uk-card uk-card-body uk-padding-small">
        <span class="material-icons-two-tone we-develop-icon">
          shopping_cart
        </span>
        <p class="we-develop-title">iOS Apps</p>
        <p class="we-develop-details">Our dedicated iOS team works with the latest development tools and techniques for Apple devices. This lets us build world-class native applications for iPhone, iPad, and Apple Watch.

        </p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-body uk-padding-small">
        <span class="material-icons-two-tone we-develop-icon">
          business
        </span>
        <p class="we-develop-title">Android Apps</p>
        <p class="we-develop-details">As a leader in Android mobile app development, we use proven development processes to ensure excellent performance and compatibility across all Android devices.
        </p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-body uk-padding-small">
        <span class="material-icons-two-tone we-develop-icon">
          handyman
        </span>
        <p class="we-develop-title">Cross Platform</p>
        <p class="we-develop-details">Using cross platform app development ensures that the overall look of the app can be maintained across all platforms since the same set of codes are being utilized.</p>
      </div>
    </div>
  </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large offer-container">
  <p class="offer-heading">Are you ready for the following services? <br>
    Custom Website Development?
  </p>
  <p class="offer-details uk-align-center">We at Aalpha Information Systems India Pvt Ltd use the latest technology in
    delivering the
    best website development services. Our development teams use their knowledge and trending technology to handle all
    your business problems and deliver quick solutions. Why wait? Consider outsourcing web development to India. If you
    have a great idea, reach out to us, and we will deliver your project!
  </p>
  <p class="uk-text-center">
    <a href="" class="uk-button onblue-btn">Estimate Project</a>
  </p>
</div>
<div class="uk-container uk-container-xlarge uk-padding-remove">

  <div class="uk-container uk-container-medium uk-padding-large uk-padding-remove-bottom">
    <p class="category-heading">Our services</p>
    <p class="category-subheading uk-align-center uk-margin-large-bottom">We deliver tailored-made back-end and front-end solutions for web
      development. </p>
    <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      <div class="uk-card-media-left uk-cover-container">
        <img src="assets/img/grocery1.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
      </div>
      <div>
        <div class="uk-card-body uk-padding-large">
          <h3 class="service-title">React Native</h3>
          <p class="service-details">
            Whether you're focused on iOS or Android - or both - the speed and efficiency of React Native ensure an economical path to a full-featured mobile application, built in half the time. React Native is a useful tool for various development requirements. It saves time, and money, plus, it improves the flexibility of your application and lets you preview changes in real-time.
          </p>
        </div>
      </div>
    </div>

    <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img src="assets/img/grocery.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
      </div>
      <div>
        <div class="uk-card-body uk-padding-large">
          <h3 class="service-title">Flutter</h3>
          <p class="service-details">
            Xevello offers Flutter App Development Services. Your company will get top-power and customer-centric mobile applications deployed in a small time limit. Our specialist team of Flutter developers has passion, years of experience, and creativity and have executed successful Flutter jobs in a very proficient manner. Our team knows how to transform your ideas into revenue generating apps.


          </p>
        </div>
      </div>
    </div>

  </div>

</div>
<app-footer></app-footer>
